.Banner {
  font-size: 3vw;
  margin-left: 0.05%;
  margin-right: 0.05%;
  border: 1px solid RGBA(12, 16, 36, 0.25);
  padding: 0.75%;
  margin-top: 5px;
  box-shadow: 0px 0px 2px #061e30;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  color: RGBA(12, 16, 36, 1);
}

.navbar {
  width: 100%;
  background-color: #061e30;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #030f18;
}

.active {
  background-color: #2196f3;
  cursor: context-menu;
}

.text-center {
  text-align: center;
}



table {
  width: 65%;
  float: left;
  margin-left: 2%;
}

td {
  vertical-align: text-top;
}

img {
  height: 100px;
  float: left;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 20px;
}

span {
  float: right;
  text-align: right;
  cursor: pointer;
  margin-top: 20px;
}

.left {
  float: left;
  width: 15%;
  text-align: center;
}

.ad {
  width: 15%;
  text-align: center;
  border: 1px solid #7f7f7f;
  box-shadow: 1px 1px 4px #cbcbcc;
  border-radius: 12px;
  display: block;
}

.right {
  float: right;
}

.code {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #37a0f4;
  font-style: italic;
  font-weight: bold;
  display: block;
  text-align: center;
}

.float-none {
  clear: both;
}

@media only screen and (max-width: 720px) {
  .Banner {
    font-size: 4.5vw;
  }

  table {
    width: 95%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .ad {
    clear: both;
    width: 100%;
    float: none;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
