table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

td {
  vertical-align: text-top;
}

img {
  height: 100px;
  float: left;
  width: 80px;
  margin-right: 10px;
  margin-bottom: 20px;
}

span {
  float: right;
  text-align: right;
  cursor: pointer;
  margin-top: 20px;
}

a {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #37a0f4;
  font-style: italic;
  font-weight: bold;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  table {
    width: 100%;
  }
}
